.webcam-stream {
    transform: scaleX(-1);
}

#video-output {
  transform: scaleX(-1);
  border: 5px solid rgb(114, 107, 107);
}

#main-canvas {
  width: 100%;
  height: 100%;
}

header {
  height: 90px;
  padding: 5px;
}

.bottom-right {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 25%;
  height: auto;
}
