.webcam-stream {
  transform: scaleX(-1);
}

#video-output {
  transform: scaleX(-1);
  border: 5px solid rgb(114, 107, 107);
}

#welcom-bg {
  background-color: #66B2FF;
  width: 100vw;
  height: 100vh;
  position: absolute;
}

#welcom-bg-container {
  margin-top: 35vh;
  color: whitesmoke;
}

#main-canvas {
  width: 100%;
  height: 100%;
}

.bottom-right {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 25%;
  height: auto;
}

#how-to-play {
  position: fixed;
  bottom: 0;
  left: 0;
}

#find-me-on-yt {
  background-color: #ed302f;
}

#nav-text {
  line-height: 0.5;
}
